@import "tailwindcss";
@import url('/fonts/custom-font.css');


@theme inline {
  --color-primary: #E33534;
  --color-primary-hover: #F55251;
  --color-primary-light: #F55251;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .glass-morph{
    @apply bg-white/10 shadow-lg backdrop-blur-md rounded-lg border border-white/20
    }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Serotiva', sans-serif;
}


/* .font-richgold {
  font-family: 'Richgold', sans-serif;
} */
